input.string-input {
  margin-left: 30px;
  margin-bottom: 10px;
  height: 25px;
  width: 200px;
  padding: 0px 8px;
  border-radius: 5px;
  font: 15px "Helvetica Neue", Arial, sans-serif;
}

button.string-button {
  padding: 5px 10px;
  border-radius: 10px;
  font: 15px "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 30px;
  background-color: white;
}


@media screen and (max-width: 400) {
  input.string-input {
    margin-left: 10px;
  }
}

button:focus,
input:focus {
  outline: 0;
}

p#invalid-input {
  color: red;
  margin-left: 10px;
  font-family: 'Arial', sans-serif;
  padding-top: 0px;
}

ol#wiki-output {
  max-height: 400px;
  padding-top: 15px;
  overflow: auto;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgb(229,241,255);
  border: 2px black solid;
}

ol#wiki-output a {
  font-weight: bold;
  color: #4ca6a6;
  text-decoration: underline;
  padding-bottom: 0px;
  font-size: 15px;
  display: inline;
}

ol#wiki-output a:hover {
  text-decoration: none;
}

ol#wiki-output p {
  padding-top: 0px;
}

.references a {
  text-decoration: underline;
  color: #4ca6a6;
}

.references a:hover {
  text-decoration: none;
}

img.tiny-url-img {
  width: 270px;
  height: 300px;
}

span {
  float: left;
  padding: 0px 10px;
}

img.hypechat {
  width: 500px;
  height: 385px;
}